// #primary colors
$black : #000000;
$white : #FFFFFF;

// #semantic colors
$red : #BF2600;
$orange : #FF8B00;
$yellow : #FFC400;
$green : #00875A;
$blue : #0052CC;
// Neutral colors
// lights
$light-one: #C1C7D0;
$light-two :#DFE1E6;
$light-three: #EBECF0;
$light-four: #F4F5F7;
$light-five :#FAFBFC;
// darks
$dark-one: #091E42;
$dark-two :#172B4D;
$dark-three: #253858;
$dark-four: #344563;
$dark-five :#42526E;